.mainHeader {
  display: flex;
  align-items: baseline;
  padding: 18px 32px;
  overflow: auto;
}

.nav {
  display: flex;
  gap: 50px;
  margin: 0px 48px;
}

.logoWrapper {
  flex: 1;
}

.filler {
  flex: 1;
}

.navLink {
  font-size: 1.125rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}
